.block-login#popup
    .phbg
    .tabs
    
        .middle
            .login-in
                .block-login_body 
                    .logo
                        img(src="img/logo.png")
                    span.title Сообщение
                    p Данные успешно сохранены!
                a.close
                    span