doctype html
html
  head
    include include/head.jade
  body
    ul.mont-sk
        li September
        li Oktober
        li November 
    div.wrapper
      section.topbar
        div.content
          h1 Семенов Виктор Сергеевич
          a.exit-but.saves Сохранить
          a.exit-but <i></i> На сайт
          a.home-but <i></i> Выход
      header
        div.content
            div.row
                <span><b>№ группы:</b>312-a</span>
                <span><b>Дни занятий:</b> ПН - ЧТ</span>
                <span><b>Место занятий:</b> Школа № 31, кабинет 22</span>
                <span><b>Время занятий:</b> 15:00 до 18:30</span>
            div.row.row-center
                a.logo
                .graf--inform
                    span Количество занятий по месяцам
                    i.one
                    span - План
                    i.two
                    span - Факт
            div.row.row-right
                <span><b>ФИО преподавателя:</b> Кожанова Елизавета Игоревна</span>
                <span><b>Телефон преподавателя:</b> 8 (910) <b class="non-r">765 00 00</b></span>
                <span><b>Телефоны для справок:</b> 8 (910) <b class="non-r">765 00 00</b></span>
            div.header--spisok-date
                div.spisok-date--title-m
                    div.title-m--title
                        span Учебные дни
                    ul
                        li Сентябрь
                        li Октябрь
                        li Ноябрь
                        li Декабрь
                        li Январь
                        li Февраль
                        li Март
                        li Апрель
                        li Май
                        li Июнь
                    div.title-m--itog
                        span Итог
                div.spisok-date--lines-m
                    div.lines-m--title
                        .middle
                            span Понедельник
                            span Четверг
                    div.lines-m--block
                        div.block-line
                            ul
                                li.b1.b1-1 8
                                li.b2 7
                                li.b3 9
                                li.b4 8
                                li.b5 8
                                li.b6 9
                                li.b7 8
                                li.b8 9
                                li.b9 9
                                li.b10 9
                        div.block-line
                            ul
                                input.b1.b1-2 
                                input.b2 
                                input.b3 
                                input.b4 
                                input.b5 
                                input.b6 
                                input.b7 
                                input.b8 
                                input.b9
                                input.b10
                    div.itogo 
                        div.middle
                            span 88
      section.non-days
        .content
            span <b>Неучебные дни:</b> 23 февраля, 8 марта, 1,2,9 мая
      section.block--months
        .content
            .active-bar
                h2 Record Book Date:
                    .nav-months
                        a.navs.left#left
                        span.title-months#title-months September
                        a.navs.right#right
            .block---rcord-sl#slider
                // 1 слайд 
                
        
                form.slide  
                
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:

                
                form.slide  
                
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:

                
                form.slide  
                
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:

                                       
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:

                                       
                    .line
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:
                        .week
                            .title--week Date: sept. 4st
                            .week--title
                                span.span-l Homework
                                span.span-r Mark
                            .liner-line
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                input(class="week--line")
                                input.week--line-mark
                            .liner-line    
                                textarea.week--line-big T.N.:

                            
                            
       section.assessment-table
        .content
            h3#as-but Assessment table
            .assessment-table--block#as-table
                .left-block
                    .line.on-line Skills
                    .line Listening
                    .line Reading
                    .line Speaking
                    .line Writing
                    .line.two-line Use of English (grammar/ vocabulary)
                    .line Total
                .right-block
                    .line
                        include include/line-input.jade
                        
                    .line
                        include include/line-input.jade
                                              
                    .line
                        include include/line-input.jade
                                              
                    .line
                        include include/line-input.jade
                                              
                    .line
                        include include/line-input.jade
                                              
                    .line
                        include include/line-input.jade
                                              
                    .line
                        include include/line-input.jade
        footer
            .content
                <p>Благодарим Вас за использование электронной системы учета успеваемости школы Лингва!<br> Если Вы хотите оставить отзыв или рекомендации по работе системы просим писать на эл.адрес 
                <a href="mailto:feedback@linguaschool.ru">feedback@linguaschool.ru</a></p>
                .footer--linked
                    .footer--linked--one
                        .footer--linked--one--line.footer--linked--one--line-two <span>Телефон для справок:</span> <a> 38 92 93</a>
                        .footer--linked--one--line <span>Написать нам: </span> <a href="mailto:feedback@linguaschool.ru">info@linguaschool.ru</a>
                        .footer--linked--one--line <span>Написать разработчику:</span> <a href="mailto: info@qwertydesign.ru"> info@qwertydesign.ru</a>
                    .footer--linked--one.footer--linked--two
                        b Наши группы в соц. сетях:
                        ul.social 
                            li: <a target="_blank" href="#"><img src="img/face.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/tv.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/in.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/in.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/od.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/inst.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/you.svg"></a>
                    .footer--linked--one
                        .button-block
                            a.exit-but.saves Сохранить
                            a.exit-but <i></i> На сайт
                            a.home-but <i></i> Выход
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/any.js")