doctype html
html
  head
    include include/head.jade
  body
    ul.mont-sk
        li September
        li Oktober
        li November 
    div.wrapper
      section.topbar
        div.content
          h1 Семенов Виктор Сергеевич
          a.exit-but <i></i> На сайт
          a.home-but <i></i> Выход
      header
        div.content
            div.row
                <span><b>№ группы:</b>312-a</span>
                <span><b>Дни занятий:</b> ПН - ЧТ</span>
                <span><b>Место занятий:</b> Школа № 31, кабинет 22</span>
                <span><b>Время занятий:</b> 15:00 до 18:30</span>
            div.row.row-center
                a.logo
                .graf--inform
                    span Количество занятий по месяцам
                    i.one
                    span - План
                    i.two
                    span - Факт
            div.row.row-right
                <span><b>ФИО преподавателя:</b> Кожанова Елизавета Игоревна</span>
                <span><b>Телефон преподавателя:</b> 8 (910) <b class="non-r">765 00 00</b></span>
                <span><b>Телефоны для справок:</b> 8 (910) <b class="non-r">765 00 00</b></span>
        section.spisok
            .content
                .title-block
                    .title-block_item 
                        span Группа
                    .title-block_item 
                        span Ученики группы
                .info-block
                    .info-block_item
                        .info-block_item_grup.active#b-team-1
                            .middle 312-a
                        .info-block_item_grup#b-team-2
                            .middle 312-b
                        .info-block_item_grup#b-team-3
                            .middle 312-c
                        .info-block_item_grup#b-team-4
                            .middle 312-v
                        .info-block_item_grup#b-team-5
                            .middle 312-v
                        .info-block_item_grup#b-team-6
                            .middle 312-v
                        .info-block_item_grup#b-team-7
                            .middle 312-v
                        .info-block_item_grup#b-team-8
                            .middle 312-v
                        .info-block_item_grup#b-team-9
                            .middle 312-v
                        .info-block_item_grup#b-team-10
                            .middle 312-v     
                        .info-block_item_grup#b-team-11
                            .middle 312-v                             
                        .info-block_item_grup#b-team-12
                            .middle 312-v                    
                        .info-block_item_grup#b-team-13
                            .middle 312-v                      
                        .info-block_item_grup#b-team-14
                            .middle 312-v                      
                        .info-block_item_grup#b-team-15
                            .middle 312-v
                            
                    .info-block_item
    
                        .info-block_item_man#team-1
                        
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                                   
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                                   
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
               
                        .info-block_item_man#team-2
                        
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                       
                        .info-block_item_man#team-3
                        
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                                   
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                                   
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                                   
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                                   
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
                                   
                            a(href="#") 
                                .middle Артеменков Валерий Дмитриевич
                            a(href="#") 
                                .middle Барабанов Андрей Виталиевич
                            a(href="#") 
                                .middle Владыка Олександр Игорович
                            a(href="#") 
                                .middle Демьянов Дмитрий Давидович
           
        footer
            .content
                <p>Благодарим Вас за использование электронной системы учета успеваемости школы Лингва!<br> Если Вы хотите оставить отзыв или рекомендации по работе системы просим писать на эл.адрес 
                <a href="mailto:feedback@linguaschool.ru">feedback@linguaschool.ru</a></p>
                .footer--linked
                    .footer--linked--one
                        .footer--linked--one--line.footer--linked--one--line-two <span>Телефон для справок:</span> <a> 38 92 93</a>
                        .footer--linked--one--line <span>Написать нам: </span> <a href="mailto:feedback@linguaschool.ru">info@linguaschool.ru</a>
                        .footer--linked--one--line <span>Написать разработчику:</span> <a href="mailto: info@qwertydesign.ru"> info@qwertydesign.ru</a>
                    .footer--linked--one.footer--linked--two
                        b Наши группы в соц. сетях:
                        ul.social 
                            li: <a target="_blank" href="#"><img src="img/face.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/tv.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/in.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/in.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/od.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/inst.svg"></a>
                            li: <a target="_blank" href="#"><img src="img/you.svg"></a>
                    .footer--linked--one
                        .button-block
                            a.exit-but <i></i> На сайт
                            a.home-but <i></i> Выход
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/any.js")